/*================================================*/
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 1em;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: cornsilk;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: gainsboro;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*================================================*/
/* Classes da Tabela */

.tabelasConsulta {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  line-height: 2em;
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.tabelasConsulta table,
.tabelasConsulta td,
.tabelasConsulta th {
  border: 1px solid black;
  background-color: whitesmoke;
}
.tabelasConsulta th {
  background-color: lightcyan;
}

.tabelasConsulta td button{
  margin-left: 0.5em;
  margin-right: 0.5em;
  background: none;
  border: none;
  color: blue;
}

.tabelasConsulta td button:hover{
  color: black;
  cursor: pointer;
}

/*================================================*/
/* Classes do Formulário */

.formularioPaginas label,
.formularioPaginas  input {
  font-size: 1.2em;
  width: 98%;
  padding: 0.5em;
  margin: 0px 0 22px 0;
  border: none;
}

.formularioPaginas  input:focus {
  background-color: aliceblue;
}

.formularioPaginas  select {
  font-size: 20px;
  margin: 5px 0 22px 0;
  padding: 0.2em;
  width: 25%;
}

.formularioPaginas  button {
  width: 25%;
  font-size: 1em;
  padding: 0.3em;
  margin-bottom: 12px;
}
/*================================================*/
/* Ids */

#pagSpan {
  font-size: 1.2em;
  margin-left: 1em;
  margin-right: 1em;

}

#paginacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#paginacao button {
  background: none;
  border: none;
  color: blue;
  font-size: 2em;
}
#paginacao button:hover {
  cursor: pointer;
  color: black;
}

#tabelaCarros {
  width: 75% !important;
}

#tabelaEstacionamento,
#tabelaEstacionamentoId {
  width: 50% !important;
}

#logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#header {
  margin-top: 1em;
  text-align: center;
  font-size: 1.2em;
}

#description {
  background-color: lightcyan;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

/*Estilo da página de apagar véiculos*/
#removerCarro,
#removerEstacionamento {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#removerCarro button,
#removerEstacionamento button{
  width: 25%;
  font-size: 1em;
  padding: 1em;
}
#removerCarro button:hover,
#removerEstacionamento button:hover{
  background-color: firebrick;
  cursor: pointer;
}

/* Tags globais */
body {
  background-color: azure;
}
